%h1 Question Show View

%h2
  = @question.body
%p
  = "Created #{time_ago_in_words(@question.created_at)} ago."
%p
  = "Updated #{time_ago_in_words(@question.updated_at)} ago."
%p
  = "Answers Count: #{@answers.count}"
%p
  = link_to "Add Answer", new_question_answer_path(@question)
  •
  = link_to "Edit", edit_question_path(@question.id)
  •
  = link_to "Delete", { action: :destroy, id: @question.id }, method: :delete, data: { confirm: "Are you sure?" }
%p
  = link_to "Home", root_path
